  <section id="map" ng-controller="MapCtrl" class="container">
    <!--<p>{{zoomMessage}}</p>-->
    <div class="row">
      <div class="col-sm-2">
        <ul class="event-marker-list">
          <li ng-repeat="marker in myMarkers">
            <a ng-click="myMap.panTo(marker.getPosition())">{{ marker.title }}</a>
          </li>
        </ul>

        <!-- this is the confusing part. we have to point the map marker directive
          at an existing google.maps.Marker object, so it can hook up events -->
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
             ui-event="{'map-click': 'openMarkerInfo(marker)'}">
        </div>

        <div ui-map-info-window="myInfoWindow">
          <h4>{{ currentLocation }}</h4>
          <p>{{ currentDescription }}</p>
          <!--Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">-->
          <!--<a ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>-->
        </div>
      </div>
      <div class="col-sm-10">
        <!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
        google maps -->
        <div id="map_canvas" ui-map="myMap" class="map"
             ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
             ui-options="mapOptions">
        </div>
      </div>
    </div>



  </section>
  <h2>Events</h2>

<a ui-sref="eventform">Edit/Add</a>
<ul>
    <li ng-repeat="event in events">
      <div ow-event-form ng-model="event"></div>
      <div ng-hide="editMode">
        <p>{{ event.date | date:'MMM/dd/yyyy' }}</p>
        <p>{{ event.blurb }}</p>
        <p>{{ event.nearestCity }}, {{ event.stateProv }}</p>
        <p>lat: {{ event.location.lat }}, lng: {{ event.location.lng }}</p>
        <p>type: {{ event.type }}</p>
        <p>material: {{ event.material }}</p>
        <p>casualties: {{ event.casualties }}</p>
        <p>cost: {{ event.cost }}</p>
        <p>volume: {{ event.volume }}</p>

        <div ow-event-link-list ng-model="event"></div>
        <div ow-event-tags ng-model="event"></div>
        <div>
          <button ng-click="deleteEvent(event)">Delete Event</button>
        </div>
      </div>
      <hr />
    </li>
</ul>