
  <h2>Events</h2>

<a ui-sref="eventform">Edit/Add</a>
<ul>
    <li ng-repeat="event in events">
      <div ow-event-form ng-model="event"></div>
      <div ng-hide="editMode">
        <span class="event-list-date">{{ event.date | date:'MMM/dd/yyyy' }}</span>&nbsp;<span class="event-list-location">{{ event.nearestCity }}, {{ event.stateProv }}</span>
        <p>{{ event.blurb }}</p>
        <p>lat: {{ event.location.lat }}, lng: {{ event.location.lng }}</p>
        <p>type: {{ event.type }}</p>
        <p>material: {{ event.material }}</p>
        <p>casualties: {{ event.casualties }}</p>
        <p>magnitude: {{ event.magnitude }}</p>
        <p>cost: {{ event.cost }}</p>
        <p>volume: {{ event.volume }}</p>

        <div ow-event-link-list ng-model="event"></div>
        <div ow-event-tags ng-model="event"></div>
        <div>
          <button ng-click="deleteEvent(event)">Delete Event</button>
        </div>
      </div>
      <hr />
    </li>
</ul>