ul{
    list-style:none;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
.map {
    height: 500px;
    width: 1000px;
    margin: auto;
}
.pan-control{
    font-size:1rem;
}
.event-marker-list{
    border:1px solid #000080;
    padding:0;
    margin: 0;
}
.event-list-location{
    font-weight:bold;
    color:blue;
}
.event-list-date{
    color:#444444;
    font-style:italic;
}

#map {
    height: 180px;
}
pre {
    background-color: #F8F8F8;
    border: 1px solid #DDD;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}
code {
    color:#000;
}
li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 12px;
}
